form {
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid rgb(2, 211, 90);
    border-radius: 10px;
    background-color: #463e3e;
}

input[type="text"], input[type="email"], input[type="password"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid rgb(39, 162, 35);
    border-radius: 4px;
    background-color: #fff;
    font-size: 16px;
}

input[type="submit"] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}